<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483300030992-u008och227map0c6nosb11bq91kiahki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483300030992-u008och227map0c6nosb11bq91kiahki</string>
	<key>API_KEY</key>
	<string>AIzaSyBXzvOZnYXh0IqSPPXqVsVNRlg6pykIJG0</string>
	<key>GCM_SENDER_ID</key>
	<string>483300030992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCrudFirebase</string>
	<key>PROJECT_ID</key>
	<string>belajar-firebase-57e18</string>
	<key>STORAGE_BUCKET</key>
	<string>belajar-firebase-57e18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483300030992:ios:7e5b9a644c4bbc6bc8e895</string>
</dict>
</plist>