<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483300030992-e2eofa77g0lu2loer8k3g4oj5tkt82rq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483300030992-e2eofa77g0lu2loer8k3g4oj5tkt82rq</string>
	<key>API_KEY</key>
	<string>AIzaSyBXzvOZnYXh0IqSPPXqVsVNRlg6pykIJG0</string>
	<key>GCM_SENDER_ID</key>
	<string>483300030992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCrudFirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>belajar-firebase-57e18</string>
	<key>STORAGE_BUCKET</key>
	<string>belajar-firebase-57e18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483300030992:ios:f51e5d874a8ffc16c8e895</string>
</dict>
</plist>